<app-header titulo="card"></app-header>

<ion-content>
  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the
      woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>

      <ion-card-content>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure dignissimos in cupiditate rerum est dolorum quibusdam voluptates libero quo provident rem officiis exercitationem earum, temporibus laborum quis fuga recusandae enim?
      </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://cdn1.epicgames.com/salesEvent/salesEvent/EGS_TombRaiderGAMEOFTHEYEAREDITION_CrystalDynamics_S1_2560x1440-0c41fcc8db62992e8d098d304b2277f8">
    <ion-card-content>
     Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident dolorum maxime voluptatum? Sequi nihil et quia ea tenetur obcaecati? Et placeat tenetur odio, dolor sequi totam ipsum cum dolore illo?
    </ion-card-content>
  </ion-card>
</ion-content>
